APP=recipe-app
ENVIRONMENT=dev
LOG_LEVEL=debug
HTTP_PORT=:8000

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DATABASE=db

SECRET=bbqjqkwdmufdwiy
ACCESS_TOKEN_TTL=12h
REFRESH_TOKEN_TTL=12h